In [5]:
create database helllo;

In [6]:
use helllo;

: 1007 (HY000): Can't create database 'helllo'; database exists

In [11]:
create table school_record
(
    id int unsigned,
    name VARCHAR(100),
    class int unsigned,
    address VARCHAR(150),
    contact INT unsigned,
    email VARCHAR(100),
    dob DATE
);

In [14]:
describe school_record;

Field,Type,Null,Key,Default,Extra
id,b'int unsigned',YES,,NULL,
name,b'varchar(100)',YES,,NULL,
class,b'int unsigned',YES,,NULL,
address,b'varchar(150)',YES,,NULL,
contact,b'int unsigned',YES,,NULL,
email,b'varchar(100)',YES,,NULL,
dob,b'date',YES,,NULL,

In [15]:
use helllo

In [18]:
INSERT into school_record
(id,name,class,address,contact,email,dob)
VALUES
("7","rashid","12","delhi,up","756876","rashid@gmail.com","2000-01-10"),
("8","gill","10","ayodhya,up","875879","gill@gmail.com","1998-02-10"),
("9","mahi","11","ranchi,up","749876","mahi@gmail.com","2000-01-10"),
("10","dhoni","12","bhopal,up","455879","dhoni@gmail.com","1998-02-10")

In [19]:
SELECT * FROM school_record;

id,name,class,address,contact,email,dob
1,vinayak,12,"lucknow,up",86876,vinayak@gmail.com,1999-01-10
1,vinayak,12,"lucknow,up",86876,vinayak@gmail.com,1999-01-10
2,honey,11,"lucknow,up",85876,honey@gmail.com,1999-02-10
3,david warner,12,"lucknow,up",76876,david@gmail.com,1999-01-10
4,jay shah,11,"lucknow,up",85879,jay@gmail.com,1999-02-10
5,warner,10,"kanpur,up",746876,warner@gmail.com,2000-01-10
6,shah,10,"ayodhya,up",855879,shah@gmail.com,1998-02-10
7,rashid,12,"delhi,up",756876,rashid@gmail.com,2000-01-10
8,gill,10,"ayodhya,up",875879,gill@gmail.com,1998-02-10
9,mahi,11,"ranchi,up",749876,mahi@gmail.com,2000-01-10
10,dhoni,12,"bhopal,up",455879,dhoni@gmail.com,1998-02-10

In [20]:
create database product;

: 1007 (HY000): Can't create database 'product'; database exists

In [22]:
use product;

In [23]:
create table product_table
(
    id int unsigned,
    title VARCHAR(200),
    price int unsigned,
    discount int unsigned,
    brand varchar(250),
    category VARCHAR(200),
    quantity int unsigned
)

In [34]:
insert INTO product_table
(id,title,price,discount,brand,category,quantity)
VALUES
("3","oska","1450","07","mob","mobile","500"),
(4, 'ceiling_fan', 550, 10, 'tufaan', 'fans', 300),
(5, 'laptop', 1200, 50, 'yantra', 'electronics', 100),
(6, 'microwave', 250, 15, 'garaam', 'appliances', 50);

In [35]:
select * from product_table

id,title,price,discount,brand,category,quantity
1,bulb,250,50,jalo,bulb,300
2,lamp,250,70,jalo,bulb,400
2,table_fan,450,7,hawa,fans,500
3,oska,1450,7,mob,mobile,500
4,ceiling_fan,550,10,tufaan,fans,300
5,laptop,1200,50,yantra,electronics,100
6,microwave,250,15,garaam,appliances,50