In [4]:
create database helllo;

In [6]:
use helllo;

In [11]:
create table school_record
(
    id int unsigned,
    name VARCHAR(100),
    class int unsigned,
    address VARCHAR(150),
    contact INT unsigned,
    email VARCHAR(100),
    dob DATE
);

In [14]:
describe school_record;

Field,Type,Null,Key,Default,Extra
id,b'int unsigned',YES,,NULL,
name,b'varchar(100)',YES,,NULL,
class,b'int unsigned',YES,,NULL,
address,b'varchar(150)',YES,,NULL,
contact,b'int unsigned',YES,,NULL,
email,b'varchar(100)',YES,,NULL,
dob,b'date',YES,,NULL,

In [15]:
use helllo

In [18]:
INSERT into school_record
(id,name,class,address,contact,email,dob)
VALUES
("1","vinayak","12","lucknow,up","86876","vinayak@gmail.com","1999-01-10")

In [19]:
describe school_record

Field,Type,Null,Key,Default,Extra
id,b'int unsigned',YES,,NULL,
name,b'varchar(100)',YES,,NULL,
class,b'int unsigned',YES,,NULL,
address,b'varchar(150)',YES,,NULL,
contact,b'int unsigned',YES,,NULL,
email,b'varchar(100)',YES,,NULL,
dob,b'date',YES,,NULL,

In [21]:
SELECT * FROM school_record;

id,name,class,address,contact,email,dob
1,vinayak,12,"lucknow,up",86876,vinayak@gmail.com,1999-01-10