In [5]:
create database helllo;

: 1050 (42S01): Table 'school_record' already exists

: 1007 (HY000): Can't create database 'helllo'; database exists

In [3]:
use helllo;

In [4]:
create table school_record
(
    id int unsigned,
    name VARCHAR(100),
    class int unsigned,
    address VARCHAR(150),
    contact INT unsigned,
    email VARCHAR(100),
    dob DATE
);

In [ ]:
-- Create the school_record table
CREATE TABLE school_record (
    id INT UNSIGNED,
    name VARCHAR(100),
    class INT UNSIGNED,
    address VARCHAR(150),
    contact INT UNSIGNED,
    email VARCHAR(100),
    dob DATE
);
-- Insert 50 sample records
INSERT INTO school_record (id, name, class, address, contact, email, dob) VALUES
    (1, 'John Smith', 10, '123 Main St, City, Country', 1234567890, 'john.smith@example.com', '2005-05-15'),
    (2, 'Jane Doe', 11, '456 Elm St, Town, Country', 9876543210, 'jane.doe@example.com', '2004-09-20'),
    (3, 'Mike Johnson', 9, '789 Oak St, Village, Country', 5555555555, 'mike.johnson@example.com', '2006-02-10'),
    (4, 'Emily Wilson', 12, '567 Pine St, Suburb, Country', 9998887777, 'emily.wilson@example.com', '2003-12-05'),
    (5, 'Chris Brown', 8, '101 Willow St, Hamlet, Country', 1112223333, 'chris.brown@example.com', '2007-08-30'),
    (6, 'Sarah Lee', 10, '222 Cedar St, Town, Country', 4445556666, 'sarah.lee@example.com', '2005-03-18'),
    (7, 'Daniel White', 7, '321 Birch St, City, Country', 7778889999, 'daniel.white@example.com', '2008-11-25'),
    (8, 'Olivia Thomas', 11, '432 Maple St, Suburb, Country', 2223334444, 'olivia.thomas@example.com', '2004-06-12'),
    (9, 'Michael Davis', 9, '876 Oak St, Village, Country', 8887776666, 'michael.davis@example.com', '2006-09-02'),
    (10, 'Sophia Taylor', 10, '555 Pine St, Town, Country', 3334445555, 'sophia.taylor@example.com', '2005-07-24'),
    (11, 'Ethan Clark', 8, '444 Willow St, City, Country', 5556667777, 'ethan.clark@example.com', '2007-04-09'),
    (12, 'Ava Martin', 7, '789 Elm St, Suburb, Country', 6667778888, 'ava.martin@example.com', '2008-02-13'),
    (13, 'William Rodriguez', 9, '333 Birch St, Village, Country', 7778889999, 'william.rodriguez@example.com', '2006-01-07'),
    (14, 'Mia Martinez', 10, '222 Cedar St, Town, Country', 4445556666, 'mia.martinez@example.com', '2005-10-19'),
    (15, 'James Hernandez', 11, '111 Maple St, City, Country', 8889990000, 'james.hernandez@example.com', '2004-03-28'),
    (16, 'Charlotte Lewis', 12, '654 Oak St, Village, Country', 5554443333, 'charlotte.lewis@example.com', '2003-08-14'),
    (17, 'Benjamin Young', 8, '456 Pine St, Suburb, Country', 1112223333, 'benjamin.young@example.com', '2007-06-22'),
    (18, 'Amelia Hall', 9, '999 Elm St, Town, Country', 3334445555, 'amelia.hall@example.com', '2006-05-04'),
    (19, 'Jacob Walker', 10, '222 Birch St, City, Country', 7778889999, 'jacob.walker@example.com', '2005-11-01'),
    (20, 'Lily Perez', 7, '333 Cedar St, Village, Country', 2221110000, 'lily.perez@example.com', '2008-09-17'),
    (21, 'Michael Wilson', 8, '444 Oak St, Suburb, Country', 6665554444, 'michael.wilson@example.com', '2007-12-30'),
    (22, 'Grace Anderson', 9, '555 Maple St, Town, Country', 5556667777, 'grace.anderson@example.com', '2006-10-13'),
    (23, 'Joseph Green', 10, '666 Pine St, City, Country', 4443332222, 'joseph.green@example.com', '2005-04-26'),
    (24, 'Nora Scott', 11, '777 Elm St, Village, Country', 3332221111, 'nora.scott@example.com', '2004-07-11'),
    (25, 'Samuel King', 12, '888 Cedar St, Suburb, Country', 7778889999, 'samuel.king@example.com', '2003-02-09'),
    (26, 'Ava Adams', 8, '999 Oak St, Town, Country', 5556667777, 'ava.adams@example.com', '2007-01-31'),
    (27, 'Ethan Turner', 7, '555 Maple St, City, Country', 2223334444, 'ethan.turner@example.com', '2008-05-18'),
    (28, 'Olivia Scott', 9, '666 Pine St, Village, Country', 8887776666, 'olivia.scott@example.com', '2006-08-06'),
    (29, 'William Baker', 10, '444 Cedar St, Suburb, Country', 1112223333, 'william.baker@example.com', '2005-12-22'),
    (30, 'Sophia King', 11, '777 Elm St, Town, Country', 4445556666, 'sophia.king@example.com', '2004-03-15'),
    (31, 'Mia Hill', 8, '123 Oak St, City, Country', 7778889999, 'mia.hill@example.com', '2007-02-27'),
    (32, 'James White', 9, '456 Maple St, Village, Country', 3334445555, 'james.white@example.com', '2006-07-10'),
    (33, 'Charlotte Turner', 10, '789 Pine St, Suburb, Country', 5556667777, 'charlotte.turner@example.com', '2005-09-04'),
    (34, 'Benjamin Baker', 7, '222 Elm St, City, Country

In [3]:
describe school_record;

Field,Type,Null,Key,Default,Extra
id,b'int unsigned',YES,,NULL,
name,b'varchar(100)',YES,,NULL,
class,b'int unsigned',YES,,NULL,
address,b'varchar(150)',YES,,NULL,
contact,b'int unsigned',YES,,NULL,
email,b'varchar(100)',YES,,NULL,
dob,b'date',YES,,NULL,

In [15]:
use helllo

In [18]:
INSERT into school_record
(id,name,class,address,contact,email,dob)
VALUES
("7","janat","12","delhi,up","756876","rashid@gmail.com","2000-01-10"),
("8","gill","10","ayodhya,up","875879","gill@gmail.com","1998-02-10"),
("9","mahi","11","ranchi,up","749876","mahi@gmail.com","2000-01-10"),
("10","dhoni","12","bhopal,up","455879","dhoni@gmail.com","1998-02-10")

In [19]:
SELECT * FROM school_record;

id,name,class,address,contact,email,dob
1,vinayak,12,"lucknow,up",86876,vinayak@gmail.com,1999-01-10
1,vinayak,12,"lucknow,up",86876,vinayak@gmail.com,1999-01-10
2,honey,11,"lucknow,up",85876,honey@gmail.com,1999-02-10
3,david warner,12,"lucknow,up",76876,david@gmail.com,1999-01-10
4,jay shah,11,"lucknow,up",85879,jay@gmail.com,1999-02-10
5,warner,10,"kanpur,up",746876,warner@gmail.com,2000-01-10
6,shah,10,"ayodhya,up",855879,shah@gmail.com,1998-02-10
7,rashid,12,"delhi,up",756876,rashid@gmail.com,2000-01-10
8,gill,10,"ayodhya,up",875879,gill@gmail.com,1998-02-10
9,mahi,11,"ranchi,up",749876,mahi@gmail.com,2000-01-10
10,dhoni,12,"bhopal,up",455879,dhoni@gmail.com,1998-02-10

In [20]:
create database product;

: 1007 (HY000): Can't create database 'product'; database exists

In [22]:
use product;

In [23]:
create table product_table
(
    id int unsigned,
    title VARCHAR(200),
    price int unsigned,
    discount int unsigned,
    brand varchar(250),
    category VARCHAR(200),
    quantity int unsigned
)

In [34]:
insert INTO product_table
(id,title,price,discount,brand,category,quantity)
VALUES
("3","oska","1450","07","mob","mobile","500"),
(4, 'ceiling_fan', 550, 10, 'tufaan', 'fans', 300),
(5, 'laptop', 1200, 50, 'yantra', 'electronics', 100),
(6, 'microwave', 250, 15, 'garaam', 'appliances', 50);

In [35]:
select * from product_table

id,title,price,discount,brand,category,quantity
1,bulb,250,50,jalo,bulb,300
2,lamp,250,70,jalo,bulb,400
2,table_fan,450,7,hawa,fans,500
3,oska,1450,7,mob,mobile,500
4,ceiling_fan,550,10,tufaan,fans,300
5,laptop,1200,50,yantra,electronics,100
6,microwave,250,15,garaam,appliances,50

In [7]:
create table students
(
    id int not null UNIQUE,
    name varchar(200) not null,
    email VARCHAR(300) not null,
    age TINYINT check (age >=10) not null,
    STATUS boolean DEFAULT 1


)

In [9]:
-- Insert data into the "students" table with the "status" column set to its default value (1)
INSERT INTO students (id, name, email, age) VALUES
(1, 'John Doe', 'john.doe@example.com', 20),
(2, 'Jane Smith', 'jane.smith@example.com', 22),
(3, 'Alice Johnson', 'alice.johnson@example.com', 19),
(4, 'Bob Anderson', 'bob.anderson@example.com', 25),
(5, 'Eve Wilson', 'eve.wilson@example.com', 18),
(6, 'Michael Brown', 'michael.brown@example.com', 21),
(7, 'Olivia Davis', 'olivia.davis@example.com', 23),
(8, 'William Taylor', 'william.taylor@example.com', 20),
(9, 'Sophia Lee', 'sophia.lee@example.com', 19),
(10, 'Daniel Clark', 'daniel.clark@example.com', 24);

In [10]:
select * from students

id,name,email,age,STATUS
1,John Doe,john.doe@example.com,20,1
2,Jane Smith,jane.smith@example.com,22,1
3,Alice Johnson,alice.johnson@example.com,19,1
4,Bob Anderson,bob.anderson@example.com,25,1
5,Eve Wilson,eve.wilson@example.com,18,1
6,Michael Brown,michael.brown@example.com,21,1
7,Olivia Davis,olivia.davis@example.com,23,1
8,William Taylor,william.taylor@example.com,20,1
9,Sophia Lee,sophia.lee@example.com,19,1
10,Daniel Clark,daniel.clark@example.com,24,1

In [11]:
select * from students
where age >=18 and age<=23

id,name,email,age,STATUS
1,John Doe,john.doe@example.com,20,1
2,Jane Smith,jane.smith@example.com,22,1
3,Alice Johnson,alice.johnson@example.com,19,1
5,Eve Wilson,eve.wilson@example.com,18,1
6,Michael Brown,michael.brown@example.com,21,1
7,Olivia Davis,olivia.davis@example.com,23,1
8,William Taylor,william.taylor@example.com,20,1
9,Sophia Lee,sophia.lee@example.com,19,1

In [15]:
use sakila