In [2]:
create Database Product_sales;

In [3]:
use Product_sales;

In [5]:
CREATE TABLE Sales (
    ProductID INT,
    ProductName VARCHAR(50),
    SellingPrice DECIMAL(10, 2)
);

: 1050 (42S01): Table 'sales' already exists

In [9]:

INSERT INTO Sales (ProductID, ProductName, SellingPrice)
VALUES (1, 'Product A', 100),
       (2, 'Product B', 150),
       (1, 'Product A', 120),
       (3, 'Product C', 200),
       (2, 'Product B', 180),
       (1, 'Product A', 90);

In [10]:
select * from sales;

ProductID,ProductName,SellingPrice
1,Product A,100.00
2,Product B,150.00
1,Product A,120.00
3,Product C,200.00
2,Product B,180.00
1,Product A,90.00